!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .header-top
      グループを作成しました
    .sub-bar
      .name
        渡邉恭章
      .iconBox
        %i.fa.fa-edit
        %i.fa.fa-gear
    .content-high
      .groupName 
        グループ名
        .member
          Member: 渡邉恭章
      .edit
        EDIT

    .contents
      .content-left
        %h2 グループ名
        %p メッセージ
        %br  
        %br  
        %h3 グループ名 
        %p メッセージ
        %br  
        %br  
        %h3 グループ名
        %p メッセージ

      .content-main
        .tweetName 
          渡邉恭章
          .textBun
            haml
        .timeStamp
          yyyy/mm/dd/%a: 
        .footer
          %input{:name => "text", :size => "16", :placeholder => "type a message"}
          %label{for: "file_photo"}
            %i.fa.fa-image
              %input{:type => "file", :id => "file_photo", :style => "display:none;"} 
          
          
          .send_buttom
            SEND
        