.notification {
  z-index: 1;
  .notice {
    background-color: #38AEF0;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: white;
    text-align: center;
  }
}