.content {

  &__main {
    display: flex;
    justify-content: flex-start;
    float: right;
    height: 100%;
    width: calc(100vw - 300px);
  }
  &__main-timeStamp {
    padding-top: 46px;
    padding-left: 10px;
    font-size: 12px;
    color: #999999;
  }
}
